{% extends "layout.html" %}

{% block title %}
	Books HOme
{% endblock %}

{% block body %}
	

	

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={{ url_for('home') }} ><h1>Books</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
        
        <a class="nav-link" href={{ url_for("index") }}>Logout</a>
      </li>
    </ul>
    <form action={{ url_for("search") }} class="form-inline my-2 my-lg-0" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Book</button>
    </form>
  </div>
</nav>
<br><br><br>

<div class="row">
	{% for book in books %}
  <div class="col-4">
  	<br>
  	<a href={{url_for('book' ,isb=book.isbn)}}><h3> {{book.title}} </h3></a>
  	<ul>
  		<li> <h5>Author : {{ book.author }}</h5> </li>
  		<li> <h5>ISBN : {{ book.isbn }}  </h5> </li>
  		<li> <h5>year : {{book.year}} </h5> </li>
  	</ul>
  	<br><br>
  </div>
	
	{% endfor %}

</div>


{% endblock %}