{% extends "layout.html" %}

{% block title %}
	login
{% endblock %}

{% block body %}
<h1>Login</h1>

<form method="POST" action={{ url_for("home") }}>
  <div class="form-group">
    <label for="exampleInputEmail1">Username or Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name="username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required name="password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
		<br><br>
		<div class="">
			<a href={{ url_for("register") }} >Click here to register</a>
      <br><br>
      <h3> {{ message }} </h3>
		</div>


{% endblock %}